@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

:root{
    /** Colors */ 
    --primary: #00B0D7;
    --accent: #FF6060;
    --dark: #000000;
    --light: #fff;
    --display_light: #FAFAFA;
    --actions_light: #E9F6FF;
    --display_dark: #00223A;
    --actions_dark: #001B2F;
}



* {
    margin: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.calculator {
    width: 320px;
    border-radius: 20px;
    box-shadow: 10px 32px 64px rgba(0,0,0, 0.3);
    overflow: hidden;

}

.calculator__head {
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
}
.calculator__time {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 15px;
}
.calculator__info {
    display: flex;
    margin-top: 10px;
    margin-right: 15px;
    
}
.calculator_communication {
    margin-right: 5px;
}
.calculator__wifi {
    margin-right: 5px;
}
.calculator__display {
    height: 161px;
    padding: 20px 24px;
    background-color: var(--display_light);
    text-align: right;

}
.calculator__history {
    margin-top: 75px;
    font-size: 24px;
}
.calculator__history strong {
    font-weight: 400;
    color: var(--accent);
}
.calculator__total {
    font-size: 32px;
    font-weight: 600;
}
.calculator__actions {
    margin-top: -25px;
    cursor: pointer;
    padding: 16px;
    padding-bottom: 32px;
    border-radius: 20px;
    background-color: var(--actions_light);
}

.calculator__row {
    display: flex;
    justify-content: space-between;
}
.calculator__col {
    width: 64px;
    height: 64px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__col_reset {
    color: var(--accent);
}

.calculator__col_action {
    color: var(--primary);
}